.footer-column {
    float: left;
    flex: 30vw;
    }

    .left {
    width: 40%;
    height: 25%;
    }

    .middle {
    width: 35%;
    height:25%;
    }
    
    .right {
    width: 25%;
    height:25%;
    }

    .footer-row:after {
    content: "";
    display: table;
    clear: both;
    }

.footer-row {
    background-color: #034f6d;
    display: flex;
    padding: 2rem;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-email {
    color: white;
}

.footer-text {
    color: #83DEF1;
}

.footer-icon {
    margin: 0.25rem;
    color: #83DEF1;
}

.footer-icon:hover {
    opacity: 80%;
}

.footer-title {
    font-size:1.5rem;
    color: #83DEF1 !important;
}

@media only screen and (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        text-align: center;
    }

    .footer-title {
        font-size:1.75rem;
        margin-top: 0;
    }
  }