.footer-column {
    float: left;
    flex: 30vw;
    }

    .left {
    width: 40%;
    height: 25%;
    }

    .middle {
    width: 35%;
    height:25%;
    }
    
    .right {
    width: 25%;
    height:25%;
    }

    .footer-row:after {
    content: "";
    display: table;
    clear: both;
    }

.footer-row {
    background-image: url("../assets/images/footer.png");
    background-size: cover;
    display: flex;
    padding: 2rem;
}

.footer-link {
    color: #006A94;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-email {
    color: #006A94;
}

.footer-text {
    color: #012a3b;
}

.footer-icon {
    margin: 0.25rem;
    color: #006A94;
}

.footer-icon:hover {
    opacity: 80%;
}

.footer-title {
    font-size:1.5rem;
    color: #012a3b !important;
}

.footer-icons {
    flex: 30vw;
    margin-top: 12vh;
}

@media only screen and (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        text-align: center;
        background-image: url("../assets/images/mobile-footer.png");
    }

    .footer-title {
        font-size:1.75rem;
        margin-top: 0;
    }

    .footer-icons {
        margin-top: 5vh;
    }

  }