.sponsor-img {
    max-width: 20vw;
    padding: 1.5rem;
}

.landing {
  background-image: url("../assets/images/templandingpage.webp");
  background-size: cover;
  height: 100vh;
}

/* faq */

.accordion {
    background-color: #83DEF1;
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    width: 40vw;
    border-radius: 20px;
  }
  
  .active, .accordion:hover {
    background-color: #2999BC; 
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    background-color: white;
    overflow: hidden;
    width: 40vw;
    transition: max-height 0.5s ease-out;
  }

  .HackNCButton2020 {
    background-color: #006A94;
    border-radius:5px;
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-size:22px;
    padding: 1rem 1rem;
    text-decoration:none;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    text-align: center;
  }
  .HackNCButton2020:hover {
    background-color:rgb(25, 153, 153);
  }
  .HackNCButton2020:active {
    position:relative;
    top:1px;
  }

.image1 {
  display: inline;
  width: 25vw;
}

.image2 {
  display: none;
}

.right-div {
  flex: 70%;
  margin-left: 2rem;
}

.past-winner-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90vw;
}

.accord {
  cursor: pointer;
  transition: 0.4s;
}

.panell {
  max-Height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  color: white !important;
}

.track-box {
  border-radius: 10px;
  background-color: #2999BC;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 25vw;
}

.track-box:active {
position:relative;
top:1px;
}

.track-box:hover {
  cursor: pointer;
  opacity: 90%;
}

.track {
  font-size: 3rem;
  letter-spacing: normal;
  color: white !important;
}

@media only screen and (max-width: 600px) {
    .accordion {
      width: 90vw;
    }

    .panel {
      width: 90vw;
    }

    .image1 {
        display: none;
    }

    .image2 {
      display: inline;
      width: 75vw;
      margin-top: 2rem;
    }

    .right-div {
      margin: 0;
    }

    .sponsor-sec {
      font-size: 1rem;
      text-align: center;
    }

    .countdown {
      font-size: 0.9rem;
    }

    .sponsor-img {
      max-width: 45vw;
  }
    
  .track-box {
        width: 75vw;
      }

      .landing {
        opacity: 90%;
        /*background-image: url("../assets/images/mobile-landing.png");*/
    }

  }