@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: #012a3b;
}

h3 {
    font-size: 3rem;
    color: #034f6d;
}

h4 {
    font-size: 2.5rem;
    color: #034f6d;
}
h5 {
    font-size:1.5rem;
}

p {
    font-size: 1.25rem;
}

button {
    font-size: 1.15rem;
    background-color: #83DEF1;
    padding: 0.75rem;
}

.button1 {
    border-radius: 25px;
}

a {
    color: #83DEF1;
}

/* home page */

.section {
    padding: 1.5rem;
}

.landing {
    background-image: url("../assets/images/templandingpage.webp");
    background-size: cover;
    height: 100vh;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container {
    height: 100%;
    padding: 0;
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 40vw;
}

.sponsor-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}

.sponsor-img {
    max-width: 20vw;
    padding: 1.5rem;
}

/* faq */

.accordion {
    background-color: #83DEF1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    width: 40vw;
  }
  
  .active, .accordion:hover {
    background-color: #2999BC; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 40vw;
  }

/*about page*/

.text {
    font-size: 1rem;
}
.header {
    background-image: url("../assets/images/templandingpage.webp");
    background-size: cover;
    height:30vh;

}
.history {
    background-image: url("../assets/images/tempgraphic.jpg");
    background-size:80%;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
}
.box {
    background-color: paleturquoise;
    width:80%;
}
div.slideshowContainer {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    padding: 3%;
    border-radius: .5em;
}

div.divContainer {
    width: 30%;
    margin-right: 10%;
    margin-left: 10%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #723D46;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

.slideshowimg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.next {
    right: 0;
    margin-right: 50px;
}

.fade {
    animation-name: moveRight;
    animation-duration: 1s;
}

@keyframes moveRight {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    
}

.nav-link {
    text-decoration: none;
    font-weight: 2;
    color: #2999BC;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.nav-link:hover {
    color: #006A94;
}

nav {
    margin-right: 2vw;
    align-items: start;
    position: absolute;
    top: 3vh;
    right: 7vw;
}

.nav-container {
    width: 100vw;
    height: 10vh;
}

.logo {
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 3rem;
    height: 3rem;
}

.badge {
    width: 7vw;
    position: absolute;
    top: 0;
    right: 1vw;
}

/* resources */

.past-winner-section {
    padding: 1.5rem;
}

.past-winner-box {
    border-radius: 5px;
    background-color: paleturquoise;
    width: 60vw;
    padding: 1rem;
    margin: 2rem;
}

.past-winner-box-h3 {
    margin: 0;
}

.past-winner-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.HackNCButton2020 {
	background-color: #006A94;
	border-radius:5px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:22px;
	padding: 1rem 1rem;
	text-decoration:none;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
.HackNCButton2020:hover {
	background-color:rgb(25, 153, 153);
}
.HackNCButton2020:active {
	position:relative;
	top:1px;
}

.past-event-pictures {
    padding: 1.5rem;
}

.past-pics-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.pics-stack {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic{
    transition: transform 0.15s;
    height: 40vh;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius:10px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .track-box {
    border-radius: 10px;
    background-color: #2999BC;
    padding: 1rem 2rem;
    margin: 1rem;
  }
  .track-box:hover {
	background-color:rgb(25, 153, 153);
}
.track-box:active {
	position:relative;
	top:1px;
}

.teampic {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.name {
    color: #2999BC;
    font-weight: bold;
}

.title {
    font-size: 0.9rem;
}

.team-pics-table {
    text-align: center;
    align-items: center;
}