@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: #012a3b;
}

h3 {
    margin-top: 0;
    font-size: 3rem;
    color: #034f6d;
}

h4 {
    font-size: 2.5rem;
    color: #034f6d;
}
h5 {
    font-size:1.5rem;
}

p {
    font-size: 1.25rem;
}

button {
    font-size: 1.15rem;
    background-color: #83DEF1;
    padding: 0.75rem;
}

.button1 {
    border-radius: 25px;
}

a {
    color: #2999BC;
}

.section {
    padding: 1.5rem;
}

.landing {
    background-image: url("../assets/images/templandingpage.webp");
    background-size: cover;
    height: 100vh;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-container {
    height: 100%;
    padding: 0;
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 40vw;
}

.sponsor-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .col {
        width: 90vw;
        margin-bottom: 1.5rem;
        margin-left: 0;
    }

    .about-container {
        flex-direction: column;
    }

    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }
  }